@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-8j5wv3');
	src:url('fonts/icomoon.eot?#iefix-8j5wv3') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-8j5wv3') format('truetype'),
		url('fonts/icomoon.woff?-8j5wv3') format('woff'),
		url('fonts/icomoon.svg?-8j5wv3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-with-circle:before {
	content: "\e600";
}
.icon-vk-with-circle:before {
	content: "\e601";
}
.icon-facebook3:before {
	content: "\e602";
}
.icon-twitter3:before {
	content: "\e603";
}
.icon-pinterest:before {
	content: "\e604";
}
