// feedback
.wpcf7 {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.feedback-bottom {
  padding: 80px 0;
  background-image: url('../img/bg-feedback-bottom.png');
  font-family: 'Roboto Light';
}

.feedback-bottom__header {
  font: 48px/60px 'Roboto Thin';
  text-align: center;
  margin-bottom: 50px;
  color: #000;
}
.feedback__inner {
  width: 1020px;
  height: 450px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}
.feedback__inner:after {
  display: table;
  content: '';
  clear: both;
  zoom: 1;
}
.feedback-bottom__left,
.feedback-bottom__right {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
.feedback-bottom__left {
  width: 480px;
  float: left;
  background-color: #fff;
  padding: 32px 40px;
  font-size: 14px;
}
.feedback-bottom__right {
  float: right;
  width: 540px;
  background-color: #2c9c58;
  padding: 60px;
  padding-right: 0;
}

.feedback-bottom__left label {
  display: block;
  margin-top: 17px;
}

.feedback-bottom__left label:first-child {
  margin-top: 0;
}
.feedback-bottom__left input,
.feedback-bottom__left textarea {
  box-sizing: border-box;
  display: block;
  width: 100% !important;
  line-height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: 0 15px !important;
  font-family: 'Roboto Light';
}
.feedback-bottom__left input:focus,
.feedback-bottom__left textarea:focus {
  border: 1px solid #2c9c58 !important;
}
.feedback-bottom__left textarea {
  /*height: 120px;*/
  resize: none;
  padding: 15px !important;
  /*margin-top: 30px;*/
}

.feedback-bottom__addr {
  color: #fff;
  font-size: 36px; 
  line-height: 1;
}

.feedback-bottom__phone {
  color: #fff;
  font-size: 36px;
  line-height: 1;
  margin-top: 38px;
}
.feedback-bottom__email {
  color: #fff;
  font-size: 24px;
  margin-top 30px
}

.feedback-bottom__phone-sub {
  font-size: 18px;
  line-height: 24px;
}
a.feedback-bottom__link {
  color: #fff !important;
  text-decoration: none;
}
.feedback-bottom input {
  width: 100%;
  margin: 0;
}
.feedback-bottom input[type="submit"] {
  border: 0px solid #41bb99;
  cursor: pointer;
  display: inline-block;
  margin: 20px 0 0 1px;
  min-height: 30px;
  padding: 11px 0 9px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9z…iIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjYnRuKSIgLz48L3N2Zz4=");
  background: -moz-linear-gradient(90deg, #2c9c58 0, #34b968 100%);
  background: -o-linear-gradient(90deg, #2c9c58 0, #34b968 100%);
  background: -webkit-linear-gradient(90deg, #2c9c58 0, #34b968 100%);
  background: linear-gradient(0deg, #2c9c58 0, #34b968 100%);
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.feedback-bottom__submit {
  width: 100% !important;
}
.feedback-bottom__submit:hover {
  background: -moz-linear-gradient(0deg, #2c9c58 0, #34b968 100%);
  background: -o-linear-gradient(0deg, #2c9c58 0, #34b968 100%);
  background: -webkit-linear-gradient(0deg, #2c9c58 0, #34b968 100%);
  background: linear-gradient(90deg, #2c9c58 0, #34b968 100%);
}

@media (max-width: 1020px) {
  .feedback__inner  {
    width: 500px;
    margin: 0 auto;
    height: auto;
  }
  
  .feedback-bottom__left,
  .feedback-bottom__right {
    width: 100%;
  }
}
@media (max-width: 640px) {
  section.feedback-bottom {
    padding: 50px 0;
    padding-bottom: 0;
  }
  
  .feedback-bottom__header {
    text-align: left;
    padding-left: 30px;
    font-size: 8vw;
    margin: 0 !important;
  }
  
  .feedback__inner  {
    width: 100%;
    height: auto;
  }
  
  .feedback-bottom__left,
  .feedback-bottom__right {
    width: 100%;
    padding: 60px 30px;
  }
  .feedback-bottom__left {
    background-color: transparent;
    padding-top: 0;
  }
  
  .feedback-bottom__left label {
    display: none;
  }
  .feedback-bottom__left input {
    margin-top: 30px !important;
    font-size: 4vw !important;
    line-height: 10vw !important;
    height: auto !important;
    font: 48px/60px 'Roboto Light';
  }
  input::-moz-placeholder {
    color: #000;
  }
  input::-webkit-placeholder {
    color: #000;
  }
  .feedback-bottom__left textarea {
    line-height: 7vw !important;
    height: 190px !important;
    margin-top: 30px;
  }
  .feedback-bottom input[type="submit"] {
    margin-top: 30px !important;
    line-height: 13vw !important;
    font-size: 6vw !important;
  }
  
  .feedback-bottom__addr {
    font-size: 6vw;
    line-height: 10vw;
  }
  .feedback-bottom__phone {
    font-size: 10vw;
    line-height: 0.7;
    margin-top: 50px;
  }
  .feedback-bottom__phone-sub {
    font-size: 4vw;
    color: #e7f0eb;
  }
  .feedback-bottom__email {
    margin-top: 50px;
    font-size: 8vw;
    line-height: 1;
  }
}

	