// mixins
@import 'nib'
global-reset()

// colors
cGreen = #2c9c58
cBlue = #3c98fc
cBlack = #000
cWithe = #fff
cLightGrey = #f5f5f5
cGrey = #3f3f3f
cBorderGrey = #dedede
cFormGrey = #d7d7d7
cExerptGrey = #585858
grGreenTop = linear-gradient(0deg, #2c9c58 0, #34b968 100%)
grGreenDown = linear-gradient(0deg,  #34b968 0, #2c9c58 100%)

// fonts
@import 'font.styl'

html
	@media (max-width: 640px)
		&
			font-size 10vw


body
	font-family 'Roboto', sans-serif
	overflow-x hidden
	transform translate(0,0,0)

		
* 
	box-sizing border-box
*::selection
	background-color #2c9c58

::-webkit-input-placeholder
	color cWithe
::-moz-placeholder
	color cWithe
:-ms-input-placeholder
	color cWithe
:-moz-placeholder
	color cWhite

.door-container
	clearfix()
	width 1220px
	margin 0 auto
	position relative

.door-wrapper
	padding-top 150px

.footer

	background-color #fff
	padding 50px 0
	font 14px/1 'Roboto'
	&__wrapper
		clearfix()
	&__left
	&__right
		width 50%
		float left
		clearfix()
	&__copy
	&__slinks
	&__social
	&__logo
	&__nav
		float left
		box-sizing border-box
	&__copy
		width 260px
		&-text
			margin 0
	&__slinks
		width 130px
		padding-left 7px
		&-link
			color #000
			text-decoration none
			border-bottom 1px solid cGrey
			transition 0.3s
			&:hover
				color cGreen
				border-bottom 1px solid cGreen
	&__social
		width 200px
		margin-top -4px
		&-list
			list-style none
			padding 0
			margin 0
			clearfix()
			width auto
		&-item
			display inline-block
			width 22px
			height 24px
			// float left
			margin-left 10px
			&:first-child
				margin-left 0
		&-link
			display block
			width 100%
			height 100%
			// background url('http://art-doors.ru/images/facebook_round.png') no-repeat center center
			font-size 24px
			color cGreen
			text-decoration none
			transition 0.3s
			&:hover
				color cGrey
			
	&__logo
		width 170px
		margin-top -15px
		text-align center
		&-link
			display inline-block
		

		
	&__nav
		width 435px
		&-list
			list-style none
			padding 0
			margin 0
			clearfix()
		&-item
			width 25%
			float left
			text-align center
		&-link
			color #000
			text-decoration none
			border-bottom 1px solid cGrey
			transition 0.3s
			&:hover
				color cGreen
				border-bottom 1px solid cGreen


.header
	transition 0.5s ease-in
	z-index 9999
	*::selection
		background-color transparent
	&__green
		background-color #2C9C58
		// margin-top -40px
		top:0
	position fixed
	top 40px
	width 100%
	padding 20px 0 25px
	&__logo
		width 150px
		float left
		&-link
			display block
			text-align left
		&-img
			&__white
				display inline-block	
			&__green
				display none
		&-text
			margin-left -10000px
	&__nav
		width 620px
		float left
		margin-top 20px
		margin-left 106px
		margin-right 70px
		&-list
			padding 0
			margin 0
			list-style none
			display table
			width 100%
		&-item
			display table-cell
			text-align left
			z-index 9999
		&-link
			font 18px/1 'Roboto Light'
			color cWithe
			text-decoration none
			border-bottom 1px solid transparent
			z-index 100000
			&:hover
				border-bottom 1px solid cWithe
		
	&__contact
		float left
		width 240px
		margin: 12px 0 0 0px;
		padding-left: 30px;
		border-left: 1px solid #fff;
		transition 0.3s
		position relative
		overflow hidden
		&-rest
			position relative
			top 0
		&-popup
			opacity 0
			background-color cWithe
			position fixed
			top 35px
			padding 40px
			margin -40px
			transition 0.3s
			z-index 100000
			.header__contact-text
			.header__contact-phone
				color cBlack !important
			
		&-item
			margin-top 25px
			&:first-child
				margin-top 0
		&:hover &-popup
			opacity 1
			
		&-phone
			font 24px/1.3 'Roboto Light'
			color cWithe
			text-decoration none
			display block
			transition 0.2s

		&-text
			font 14px/1 'Roboto Light'
			color cWithe
		
		a&-email
			color cGreen !important
			font-size 24px
			text-decoration none
	
.top-block
	padding-top 137px
	background url('../img/bg-top-block.png') no-repeat
	background-size cover
	&__inner
		margin-top 30px
		position relative
		clearfix()
	&__go
		position absolute
		width 100%
		text-align center
		bottom 70px
		&-link
			display inline-block
			width 77px
			height 29px
			background url('../img/go.png') no-repeat
			transition 0.3s
			&:hover
				background url('../img/go-green.png') no-repeat
	&__picture
		width 450px
		float left
		text-align center
		overflow hidden
	&__img
		display inline-block
		
	&__content
		padding-top 127px
		margin-left 455px
	&__header
		font 72px/70px 'Roboto Thin'
		color cWithe
	&__text
		margin-top 50px
	&__link
		font 24px/1 'Roboto'
		color cWithe
		text-decoration none
		transition 0.3s
		&:hover
			color #2c9c58
	@media (max-width: 640px)
		&__go
			display none

.m-sec
	background-color #f5f5f5
	margin-bottom -2px
	&__content
		margin 163px 0 0
		width 490px
		padding 0 85px
		&__right
			float right
		&__left
			float left
	&__header
		font 36px/1 'Roboto Light'
	&__text
		font 18px/30px 'Roboto Light'
		margin-top 25px
	&__subtext
		font 24px/30px 'Roboto Light'
		color #646464
		margin-top 24px
	&__picture
		margin-top 105px
		width 710px
		margin-left 20px
		&__right
			float right
			text-align left
		&__left
			float left
			text-align right
	&__img
		display inline-block
	
	@media (max-width: 640px)
		&__header
			font-size 0.6rem
		&__text
			font-size 0.3rem
			max-height 1.5rem
			line-height 0.5rem
			
.products__list
	.m-sec
		clearfix()
		&__content
		&__picture
			padding 0
			float left
			width 48%
			margin 40px 0
			padding-bottom 40px
			&__left
				text-align left
				float left
			&__right
				text-align right
				float right
		&__picture
			margin-top 0
			margin-bottom 0
			text-align center
		&__content
			margin 7vw 0 0
		&__img
			display inline-block
			max-width 80%
			height 50vw
		.butt
			font-size 18px
			padding 1.4vw 2.7vw
			margin-top 22px
		&__header
			font-size 2.9vw
		&__text
			font-size 1.4vw
			line-height  2.4vw
		&__subtext
			font-size 1.9vw
			margin-top 17px

@include 'portfolio.styl'
			







			
.page .header
	background #fff
	*
		color #000
	&__logo-img
		&__white
			display none
		&__green
			display inline-block		


.butt
	text-decoration none
	display inline-block
	font 24px 'Roboto'
	padding 12px 30px
	background-color #2C9C58
	border-radius 5px
	text-transform uppercase
	text-align center
	color cWithe
	margin-top 32px
	border 2px solid #2C9C58
	transition 0.3s
	&:hover
		background-color cWithe
		color #2C9C58
	@media (max-width: 960px)
		&
			font-size 3vw
	@media (max-width: 640px)
		&
			font-size 2.7vw
			padding 0.15rem
			margin-top 0.5rem

.s-divider
	padding 0
	background-color #e8f1ec
	&__content
		width 960px
		margin 0 auto
		padding 55px 0 65px 235px
		background url('../img/main/star.png') no-repeat
		background-position 11% center
	&__header
		font 30px/30px 'Roboto Light'
		color cBlack
	&__text
		font 18px/33px 'Roboto Light'
		color #6c6c6c

	

		




	
		
	
	




		
	

		


@media (max-width: 1220px)
	.door-container
		width 100%
		margin 0
	.header

		&__logo
			padding-left 20px
			width 15%
			overflow hidden
			
		&__nav
			width 50%
			margin 20px 7% 0
			overflow hidden
		&__contact
			width 20%
			overflow hidden
			padding-left 0
			border none
			
	.top-block
		&__picture
			width 40%
		&__content
			width 60%
			margin-left 40%
			padding-left 4%
			padding-right 2%
			
	.m-sec
		&__content
			width 40%
			padding 0 20px
		&__picture
			width 60%
			padding 0
			margin-left 0
			margin-right 0
			padding-right 4%
			
	.s-divider
		&__content
			padding-left 150px
			background-position 3% center
			
	.footer
		padding 15px
		&__wrapper
			padding-left 20px
		&__logo
			display none
		&__left
		&__right
			width 100%
			margin 5px 0
		&__nav-item
			text-align left


@media (max-width: 960px)
	
	.header
		&__contact
			display none
		&__nav
			width 70%
			margin-top 2%
		&__logo
			&-link
			&-img
				width 100%
	
	.top-block		
		&__content
			width 60%
			margin-left 40%
			padding-left 4%
			padding-right 2%
		&__header
			font-size 8vw
			line-height 8vw
	
	.m-sec
		&__content
			width 50%
			padding 0 20px
			margin-top 10%
			margin-bottom 3%
		&__picture
			width 50%
			padding 0
			margin-left 0
			margin-right 0
			padding-right 4%
			padding-left 4%
			min-height 100%
		&__img
			width 100%
	.s-divider
		&__content
			width 100%
			padding-left 150px
			padding-right 100px
		&__text
			display none
	
	.footer
		padding 30px
		&__wrapper
			padding-left 20px
		&__logo
			display none
		&__left
			width 640px
			margin 0 auto
			float none
			&  *
				text-align center
		&__right
			display none

		

@media (max-width: 640px)
	.door-container
		padding-left 32px
		padding-right 32px
	.header
		&__nav
			display block
			width 100%
			margin 0
			padding 0
			&-butt
				position absolute
				top 15px
				width 40px
				height 40px
				right 30px
				background transparent url('../img/burger.png') no-repeat left top
				cursor pointer
				&__close
					background-image url('../img/close.png')
			&-list
				padding-top 30px	
				display none
				padding 0
				margin 0
				&__visible
					display block

			&-item
				display block	
				float	none
				line-height 30px
				text-align center
				margin 0
				padding 0
				&:first-child
					margin-top 30px
			&-link
				font-size 4vw	
				line-height 2
		&__logo
			width auto
			float none
			margin 0 auto
			padding 0
			text-align center
			&-link
			&-img
				width 100px
				
			&-link
				display inline-block

	.top-block

		&__picture
			display none
		&__content
			margin-left 0
			margin-right 0
			width 100%
			float none
			padding 0 0px 55px
		&__header
			padding 0
			font-size 6.5vw
		&__link
			display block
			text-transform uppercase
			text-align center
			font 6vw 'Roboto'
			padding 0.3rem 0
			border 2px solid cWithe
			border-radius 7px
			&:hover
				color cWithe
		
	.page .header__nav-butt
		background-image url('../img/burger-green.png')
	
	.m-sec
		&__content
			margin-bottom 1rem
			&__left
				padding-left 0
				
			&__right
				padding-right 0
		&__picture
			padding 0
			float none
			position absolute
			bottom 0
			margin-top 0
			height auto
			min-height auto
			&__right
				right 0
			&__left
				left 0
		&__text
			max-height 5em
			overflow hidden
			margin-top 0.5rem
		&__subtext
			font-size 0.4rem
			line-height 0.6rem
			
	
	.s-divider
		&__content
			padding-right 0
			padding-top 0.6rem
			padding-bottom 0.6rem
			background-size 14vw
			padding-left 2rem
		&__header
			font-size 0.4rem
			line-height 0.6rem
	
	.footer
		padding-left 0px
		padding-right 0px
		&__wrapper
			padding-left 0px
		&__left
			width 100%
			margin 0 auto
			float none
			&  *
				text-align center
		&__copy
		&__slinks
		&__social
			width 100%
			float none
		&__copy
			&-text
				text-align left
				font-size 5vw
		&__slinks
			text-align left
			margin-top 5vw
			padding 0
			&-link
				text-decoration none
				font-size 5.5vw
				color cGreen
				border-bottom none
		&__social
			margin-top 5vw
			&-item
				width auto
				height auto
			&-list
				text-align left
			&-link
				font-size 6vw
				




.page-breadcrumbs
	padding-top 15px
	a
	span
		font 14px/30px 'Roboto Light'
		color #bdbdbd
		text-decoration none
		
		
.page
	&-header
		margin 20px 0 40px
		&__text
			font 36px/1 'Roboto Light'
			color cBlack
	&-body
		padding 0 0 0 0
	@media (max-width: 640px)	
		&-body
			background-color #f5f5f5
		section
			border-bottom 1px solid #cfcfcf
		section.page-breadcrumbs
		section.page-header
			border none
		&-header
			&__text
				font-size 0.6rem

.about

	&-video
		&__inner
			position relative
			width 100%
			height 55vw

		iframe
			position absolute
			top 0
			right 0
			width 100%
			height 100%
			

	&-why
		padding 70px
		text-align center
		&__header
			font 36px/40px 'Roboto'
			// padding 0 250px
		&__text
			font 36px/50px 'MyriadProRegular' // Myriad
			// padding 0 250px
			margin-top 25px
		&__subtext
			font 18px/30px 'MyriadProRegular'//'Myria Pro'
			// padding 0 250px
			margin-top 25px
		@media (max-width: 640px)
			&
				padding 30px 0
				text-align left
			&__text
				font 0.4rem/0.8rem 'Roboto Thin'
			&__subtext
				font 0.4rem/0.8rem 'Roboto Light'
				
				
			
	&-warranty
		padding 70px 0
		&__left
			float left
			width 20%
			text-align center
		&__right
			float left
			width 80%
		&__title
			font 36px/40px 'Roboto' //Myriad Pro
			padding-left 30px
		&__list
			padding-left 30px
			list-style-image url('../img/galka.png')
		&__item
			font 18px/30px 'Roboto Light' //Myriad
			margin-top 35px
		@media (max-width: 960px)
			&__left
				width 30%
				text-align center
			&__right
				width 70%
				padding-left 20px
				padding-right 30px
			img
				display inline-block
				margin-top 30px
				max-width 100%
		@media (max-width: 640px)
			&
				padding-top 1rem
				padding-bottom 1rem
			&__left
				display none
			&__right
				float none
				padding 0px
				width 100%
			&__title
				padding-left 0
				font-size 0.6rem
				line-height 0.8rem
			&__item
				margin-top 0.4rem
				font-size 0.3rem
				line-height 0.4rem
				
	&-job
		background-color #f5f5f5
		padding 80px 0
		&__left
			width 20%
			float left
		&__right
			width 80%
			float left
			padding 0 50px
		&__block
			background-color cWithe
			color cBlack
			padding 30px
			overflow hidden
			p
				font 12px/20px 'MyriadProRegular'
				margin-top 30px
				&:first-child
					margin-top 0
		&__title
			font 36px/40px 'MyriadProRegular'

		&__item
			margin-top 40px
			h4
				font 18px/30px 'MyriadProRegular'
				text-transform uppercase
			p
				margin-top 25px
				font 18px/30px 'MyriadProRegular'
			a
				margin-top 26px
				font 18px/30px 'MyriadProRegular'
				color #2c9c58
				display inline-block
				padding 0 15px
				text-decoration none
				text-transform uppercase
				border 1px solid #2c9c58
				border-radius 2px
				&:hover
					background-color #2c9c58
					color cWithe
		@media (max-width: 960px)
			&__block
				margin 0 20px
			&__left
				width 30%
			&__right
				width 70%
		@media (max-width: 640px)
			&__left
				display none
			&__right
				float none
				width 100%
				padding-left 0
				padding-right 0
	@media (max-width: 640px)
		&-job
			padding-top 1rem
			padding-bottom 1rem
			&__title
				font-size 0.6rem
				line-height 0.8rem
			&__item
				p
					font-size 0.3rem
					line-height 0.5rem
			


////////////////////////////////// Контакты
.contacts
	&__body
		background-color #e8f1ec
		padding 40px 30px
		&-left
			width 30%
			float left
		&-right
			width 70%
			float left
			padding 45px 80px
		@media (max-width: 1220px)
			&-left
				width 40%
			&-right
				width 60%
		@media (max-width: 960px)
			&-left
			&-right
				width 50%
				padding-left 30px
				padding-right 30px

				
	&__m-email
		display none
	&__form
		background-color cWithe
		padding 40px
		&-header
			display none
		label
		input
		textarea
			display block
			box-sizing border-box
			width 100%
			resize none
		label
			margin-top 20px
			font 14px 'Roboto Light'
			&:first-child
				margin-top 0
		input
		textarea
			font 14px 'Roboto Light'
			padding 10px 15px
			border 1px solid #d7d7d7
			margin-top 8px
			border-radius 5px
			outline none
			&:focus
				border 1px solid #2c9c58
		textarea
			height 160px
		input[type=submit]
			text-align center
			font 24px 'MyriadProRegular'
			background-color #31ad62
			color cWithe
			text-transform uppercase
			margin-top 20px
			cursor pointer
			border 2px solid #31ad62
			transition 0.3s
			&:hover
				background-color cWithe
				color #31ad62
			
			
	&__title
		font 48px/1 'MyriadProRegular'
	&__addr
		font 40px/1 'MyriadProRegular'
		margin-top 35px
	&__phones
		text-align left
		margin-top 35px
	&__phone
		display inline-block
		width 280px
		&-link
			text-decoration none
			color cBlack
			font 30px 'Roboto Light'
			transition 0.3s
			&:hover
				color #2c9c58
		&-text
			font 14px 'Roboto Light'
			margin-top 10px
	&__email
		background-color cWithe
		color cBlack
		width 325px
		padding 30px
		margin-top 35px
		&-text
			font 18px/24px 'Roboto Light'
			margin-bottom 10px
		&-link
			text-decoration none
			font 24px 'Roboto Light'
			color #2c9c58
	
	@media (max-width: 960px)
		&__title
			font-size 6vw
		&__addr
			font-size 5vw
			margin-top 35px
		&__phones
			text-align left
			margin-top 35px
		&__phone
			&-link
				font 30px 'Roboto Light'
			&-text
				font 14px 'Roboto Light'
				margin-top 10px
		&__email
			display none
		&__form
			input[type=submit]
				font-size 2.2vw	

	@media (max-width: 640px)
		&__map
			display none
		&__body
			padding 0
			margin-left -30px
			margin-right -30px
			&-right
			&-left
				float none
				width 100%
			&-right
				background-color #2c9c58
				color cWithe
				float right
				margin-top 70px
				margin-bottom 70px
		&__phones
			margin-top 0
		&__phone
			width 100%
			margin-top 0.9rem
			&-link
				color cWithe
				font-size 9.6vw
				&:hover
					color cWithe
			&-text
				font-size 4vw
		&__title
			display none
		&__addr
			font 6vw/9vw 'Roboto Light'
			margin-top 25px
		&__form
			background-color transparent
			padding-left 0
			padding-right 0
			&-header
				display block
				font 8vw 'Roboto thin'
				margin-bottom 20px
			input
			textarea
				margin-top 30px
				padding 0.17rem
				font-size 0.4rem

			input[type=submit]
				font-size 0.6rem
				margin-top 30px
			label
				display none
		&__m-email
			display block
			color cWithe
			text-decoration none
			font 8vw 'Roboto Light'
			margin-top 40px
		
@media (max-width: 640px)
	::-webkit-input-placeholder
		color cBlack
		opacity 1
	::-moz-placeholder
		color cBlack
		opacity 1
	:-ms-input-placeholder
		color cBlack
		opacity 1
	:-moz-placeholder
		color cBlack
		opacity 1
			
@import 'products.styl'
@import 'feedback.styl'
@import 'portfolio.styl'

		
	