// portfolio pages css style

.portfolio
	margin 0
	padding-top 40px
	padding-bottom 80px
	background-color #f5f5f5
	&__list
		list-style none
		padding 0
		margin 0
		clearfix()
		margin-right -40px
	&__item
		float left
		overflow hidden
		margin-top 37px
		margin-right 38px
	&__item:hover &__overlay
		opacity 1
			
	&__link
		display block
		text-decoration none
		color cBlack
		cursor pointer
	&__thumb
		position relative
		img
			max-width 100%
	&__overlay
		position absolute
		top 0
		bottom 0
		width 100%
		height 100%
		background-color rgba(0,0,0,0.5)
		opacity 0
		transition 0.3s
	&__text
		margin-top 20px
	&__item-title
		font 20px/30px 'Roboto Light'
		text-transform uppercase
	&__exerpt
		font 12px/30px 'Roboto Light'
	&__btn
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		border: 1px solid #fff;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		font-size: 24px;
		line-height: 30px;
		font-family: 'Roboto';
		padding: 17px 50px 14px;
		text-transform: uppercase;
		
.portfolio-post
	&
		background-color: #f5f5f5;
		margin: 0;
		padding-top 30px
		padding-bottom 50px
	&__body
		padding: 0 130px;
		font-family: 'Roboto Light';
		color: #000;

	p
		font-size: 18px;
		line-height: 30px;
		margin-top: 30px;

	h2
		font 37px/1 'Roboto Light'
		
		margin: 30px 0 0
	
.portfolio-slider
	padding 80px 0
	background-color cWithe
	&__header
		font 36px 'Roboto Light'
		text-align center
	&__outer
		position relative
		margin-top 50px
	&__item
		width 33.3333%
		width 100%
		margin-right 10px
	&__link
		display block
		width 100%
	img
		max-width 98%


.slider-controls  
	position absolute
	top -100px
	right 30px
	&__prev
	&__next
		width 60px
		height 60px
		background #f5f5f5 url("../img/s-slider-conrol.png") no-repeat
		background-position 20px center
		color #fff
		float left
		cursor pointer
		&:hover
			background-color #ddd
	&__next
		background-position -55px center
		margin-left 15px
