// products
.products
	padding-top 53px
	padding-bottom 0px
	background-color #f5f5f5
	&__list
		padding 0
		margin 0
		list-style none
		clearfix()
	&__item
		width 50%
		float left
		margin-bottom 100px
		
	&__list
		padding 0
		bottom 0
		list-style none
		clearfix()
	&__item
		width 50%
		float left
		position relative

.products-category
	.products
		&__item
			width 25%
			text-align center
	
	

.product-card
	&__link
		display block
		text-decoration none
		color cBlack
	&__img
		display inline-block
	&__title
		display block
		position absolute
		bottom 30px
		left 54px
		right 0
		background-color cWithe
		padding 25px 43px 25px 0px
		font 16px 'Roboto'
		color cBlack
		box-shadow 0 0 10px 0 rgba(0,0,0,0.2)
		
