script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js")
script(src="js/vendor/jquery.lazyload/jquery.lazyload.js")
script(src="https://maps.googleapis.com/maps/api/js")
script(src="js/main.min.js")