section.feedback-bottom
	.door-container
		h3.feedback-bottom__header Заявка на расчет

		.feedback__inner
			.feedback-bottom__left
				form
					label(for="feedback-name").feedback-form__label Имя
					input(type="text" placeholder="Ваше имя")#feedback-name
					label(for="feedback-phone").feedback-form__label Телефон
					input(type="tel")#feedback-phone
					label(for="feedback-text").feedback-form__label Что вас интересует?
					textarea.door-popup__textarea.feedback-form__input#feedback-text
					input(type="submit" value="Отправить заявку")

			.feedback-bottom__right
				p.feedback-bottom__addr
					|г. Москва,
					br
					|ул. 6-ая Радиальная, д. 17
				p.feedback-bottom__phone
					a.feedback-bottom__link(href="tel:+74996702887") +7 499 670-28-8
					br
					span.feedback-bottom__phone-sub Москва и Московская область
				p.feedback-bottom__phone
					a.feedback-bottom__link(href="tel:88002006717") 8 800 200-67-17 
					br
					span.feedback-bottom__phone-sub Бесплатный для регионов РФ
				p.feedback-bottom__email
					a.feedback-bottom__link.feedback-bottom__email-link(href="mailto:info@lesomodul.ru") info@lesomodul.ru
