footer.footer
	.door-container
		.footer__wrapper
			.footer__left
				.footer__copy
					p.footer__copy-text.
						&copy; 2007—2015 ООО «Лесомодуль»
				.footer__slinks
					a.footer__slinks-link(href="site-map.html") Карта сайта
				.footer__social
					ul.footer__social-list
						li.footer__social-item
							a.footer__social-link.footer__social-link__fb(href="#")
								span.icon-facebook3
						li.footer__social-item
							a.footer__social-link.footer__social-link__tw(href="#")
								span.icon-twitter3
						li.footer__social-item
							a.footer__social-link.footer__social-link__go(href="#")
								span.icon-google-with-circle
						li.footer__social-item
							a.footer__social-link.footer__social-link__pi(href="#")
								span.icon-pinterest
						li.footer__social-item
							a.footer__social-link.footer__social-link__vk(href="#")
								span.icon-vk-with-circle
			.footer__right
				.footer__logo
					a.footer__logo-link(href="#")
						img.footer__logo-img(src="http://art-doors.ru/images/logo.png")
				.footer__nav
					ul.footer__nav-list
						- each item in ['Компания', 'Продукция', 'Портфолио', 'Контакты']
							li.footer__nav-item
								a.footer__nav-link(href="#")= item