head
	meta(charset="utf-8")
		
	//- meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Art-doors.ru
	
	link(rel="apple-touch-icon", sizes="57x57", href="favicon/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="60x60", href="favicon/apple-touch-icon-60x60.png")
	link(rel="apple-touch-icon", sizes="72x72", href="favicon/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="76x76", href="favicon/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon", sizes="114x114", href="favicon/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon", sizes="120x120", href="favicon/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon", sizes="144x144", href="favicon/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon", sizes="152x152", href="favicon/apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon-180x180.png")
	link(rel="icon", type="image/png", href="favicon/favicon-32x32.png", sizes="32x32")
	link(rel="icon ", type="image/png", href="favicon/android-chrome-192x192.png", sizes="192x192")
	link(rel="icon", type="image/png", href="favicon/favicon-96x96.png", sizes="96x96")
	link(rel="icon", type="image/png", href="favicon/favicon-16x16.png", sizes="16x16")
	link(rel="manifest", href="/manifest.json")
	meta(name="msapplication-TileColor", content="#da532c")
	meta(name="msapplication-TileImage", content="favicon/mstile-144x144.png")
	meta(name="theme-color", content="#ffffff")
			
	//- bootstrap
	//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
	//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
	//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
	
	link(rel="stylesheet", href="http://cdn.jsdelivr.net/jquery.owlcarousel/1.31/owl.carousel.css")
	link(rel="stylesheet", href="http://cdn.jsdelivr.net/jquery.owlcarousel/1.31/owl.theme.css")
	link(rel="stylesheet", href="css/main.min.css")
	
		
	script(src="js/vendor/modernizr.js")
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
	script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
	<![endif]-->
	style.
		.preloader {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: #fff;
				z-index: 9999999;
		}

		.preloader-inner {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100px;
				height: 100px;
				transform: translate(-50%, -50%);
		}

		.preloader-animated {
				width: 100%;
				height: 100px;
				background: url('img/logo-top-green.png') no-repeat;
				-webkit-animation: 5s pulsate infinite;
				-o-animation: 5s pulsate infinite;
				animation: 5s pulsate infinite;
		}

		@keyframes pulsate {
				0% {
						opacity: 0;
				}
				100% {
						opacity: 1;
				}
		}
		