include _preloader.jade

header.header
	.door-container
		.header__logo
			a(href="/").header__logo-link
				img(src="img/logo-top.png").header__logo-img__white
				img(src="img/logo-top-green.png").header__logo-img__green
				strong.header__logo-text Своё
		.header__nav
			.header__nav-butt
			ul.header__nav-list
				- each item in [['Компания','about.html'], ['Продукция','products.html'], ['Портфолио','portfolio.html'], ['Контакты', 'contacts.html']]
					li.header__nav-item
						a(href='#{item[1]}').header__nav-link= item[0]
		.header__contact
			.header__contact-rest
				.header__contact-item
					a(href="tel:+74996702887").header__contact-phone +7 499 670-28-87
					p.header__contact-text Москва и Московская область
			.header__contact-popup
				.header__contact-item
					a(href="tel:+74996702887").header__contact-phone +7 499 670-28-87
					p.header__contact-text Москва и Московская область
				.header__contact-item
					a(href="tel:88002006717").header__contact-phone 8 800 200-67-17
					p.header__contact-text Бесплатный для регионов РФ
				.header__contact-item
					a(href="mailto:info@lesomodul.ru").header__contact-email info@lesomodul.ru
