section.portfolio-slider
	.door-container
		h3.portfolio-slider__header Другие интересные работы
		.portfolio-slider__outer
			#portfolio-slider.portfolio-slider__inner
				- for (var i=0; i<3; i++)
					.portfolio-slider__item.item
						a.portfolio-slider__link(href='')
							img(src="img/portfolio/slider-img1.jpg")
					.portfolio-slider__item.item
						a.portfolio-slider__link(href='')
							img(src="img/portfolio/slider-img2.jpg")
					.portfolio-slider__item.item
						a.portfolio-slider__link(href='')
							img(src="img/portfolio/slider-img3.jpg")
			.slider-controls
				#portfolio-slider-prev.slider-controls__prev
				#portfolio-slider-next.slider-controls__next
