doctype html
html(lang="ru")
	include _head.jade
	body.page

		include _header.jade
		
		.door-wrapper
			
			section.page-breadcrumbs
				.door-container
					a(href="http://art-doors.ru/") Главная&nbsp;
					span /&nbsp;
					span Компания
			
			section.page-header
				.door-container
					h2.page-header__text О нашей кампании
			.page-body
				section.about-video
					.door-container
						.about-video__inner
							iframe(src="https://player.vimeo.com/video/129519480?color=2c9c58&portrait=0" width="1300" height="731" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
								p
									a(href="https://vimeo.com/137591806") VOLCANO
									|from
									a(href="https://vimeo.com/lenasteinkuehler") Lena Steinkuehler on
									a(href="https://vimeo.com") Vimeo
				section.about-why
					.door-container
						h3.about-why__header Почему мы?
						p.about-why__text
							|Уже более 10 лет мы создаем для Ваших квартир, домов,
							|кабинетов столярные изделия высочайшего класса.
						p.about-why__subtext
							|Мы — Ваши партнеры и друзья, а  изготовленные нами мебель и элементы отделки будут доставлять
							|радость не только Вам, но будут долгое время предметом гордости
							|и для Ваших детей и внуков.
					
				section.about-warranty
					.door-container
						.about-warranty__left
							img(src='img/certificate.jpg')
							img(src='img/certificate.jpg')
						.about-warranty__right
							h3.about-warranty__title Мы гарантируем высочайшее качество
							ul.about-warranty__list
								li.about-warranty__item Наш производственный процесс отлажен до мелочей;
								li.about-warranty__item Наше оборудование и технологии соответствуют немецким стандартам, имеют всю необходимую сертификацию и используют новейшие разработки в этой области;
								li.about-warranty__item Мы используем комплектующие и материалы только от производителей, продукция которых проверена временем;
								li.about-warranty__item Ваши отзывы, замечания и предложения немедленно влияют на организацию нашей работы
								li.about-warranty__item Все сотрудники компании – от замерщиков и менеджеров до рабочих производства и монтажников – настоящие мастера своего дела, имеющие необходимую для работы квалификацию и постоянно повышающие ее;
								
				section.about-job
					.door-container
						.about-job__left
							.about-job__block
								p Мы стремимся стать лидером в своей области и прилагаем все усилия, чтобы привлечь в свой коллектив действительно целеустремленных людей.
								p Для нас не существует стереотипа идеального сотрудника, мы ценим Вашу индивидуальность и личные качества. 
								p Если Вы способны трудиться творчески и целеустремленно, мы приглашаем Вас к сотрудничеству
						.about-job__right
							h3.about-job__title Открытые вакансии
							ul.about-job__list
								li.about-job__item
									h4 СТОЛЯР-КРАСНОДЕРЕВЩИК (МОСКВА)
									p Столяр-краснодеревщик (Москва). Стабильная работа, высокая заработная плата, премии и поощрения. Работа столяром-краснодеревщиком в профессиональном коллективе!
									a(href="#") Подробнее
								li.about-job__item
									h4 МАЛЯР ПО ДЕРЕВУ (МОСКВА)
									p Вакансия конструктор мебели на лучших условиях в Москве. Постоянные проекты на разработку конструкций мебели, лестниц, дверей по индивидуальным заказам.
									a(href="#") Подробнее
								li.about-job__item
									h4 НАЧАЛЬНИК СТОЛЯРНОГО ЦЕХА
									p Мы в поисках профессионала на должность начальника столярного цеха. Достойная зарплата, стабильная работа, индивидуальные проекты, требующие высокой квалификации от руководителя.
									a(href="#") Подробнее

		include _footer.jade						
		
		include _bottom.jade
