doctype html
html(lang="ru")
	include _head.jade
	body.page
		
		include _header.jade
		
		.door-wrapper
			section.page-breadcrumbs
				.door-container
					a(href="http://art-doors.ru/") Главная&nbsp;
					span /&nbsp;
					span Контактная информация
			section.page-header
				.door-container
					h2.page-header__text Контактная информация
			
			.page-body
				section.contacts__body
					.door-container
						.contacts__body-left
							.contacts__form
								h3.contacts__form-header Обратная связь
								form
									label Имя
									input(type="text" name="userName" placeholder="Имя")
									label Телефон
									input(type="text" name="userPhone" placeholder="Телефон")
									label Что вас интересует?
									textarea(name="userMessage" placeholder="Ваше сообщение")
									input(type="submit" value="Отправить письмо")
										
									
						.contacts__body-right
							h3.contacts__title ООО «Лесомодуль»
							p.contacts__addr г. Москва,<br>ул. 6-ая Радиальная, д. 17
							.contacts__phones
								.contacts__phone
									a(href="tel:+74996702887").contacts__phone-link +7 499 670-28-87
									p.contacts__phone-text Москва и Московская область
								.contacts__phone
									a(href="tel:88002006717").contacts__phone-link 8 800 200-67-17
									p.contacts__phone-text Бесплатный для регионов РФ
							.contacts__email
								p.contacts__email-text По всем вопросам пишите на этот адрес:
								a.contacts__email-link(href="mailto:info@lesomodul.ru") info@lesomodul.ru
							a.contacts__m-email(href="tel:info@lesomodul.ru") info@lesomodul.ru
								
				
				section.contacts__map
					#map(style="width: 100%; height: 240px")
					
		include _footer.jade
		
		include _bottom.jade
