doctype html
html(lang="ru")
	include _head.jade
	body.page
		
		include _header.jade
		
		.door-wrapper
			section.page-breadcrumbs
				.door-container
					a(href="http://art-doors.ru/") Главная&nbsp;
					span /&nbsp;
					span Продукция
			section.page-header
				.door-container
					h2.page-header__text Двери гармошкой
			
			.page-body
				.products-category
					.door-container
						ul.products__list
							- for (var i=0; i<4; i++)
								li.products__item.product-card
									a.product-card__link(href="door-single.html")
										img.product-card__img(src="http://art-doors.ru/wp-content/uploads/2015/07/door_2-236x700.png")
										h3.product-card__title Двери гармошкой
										
				
		include _footer.jade
		
		include _bottom.jade
