doctype html
html(lang="ru")
	include _head.jade
	body
		
		include _header.jade
		
		section.top-block
			.door-container
				.top-block__inner
					.top-block__go
						a.top-block__go-link(href="#first-sec")
					.top-block__picture
						img.top-block__img(src="img/main/top-door.png")
					.top-block__content
						h3.top-block__header
							|Наши двери — основа
							|вашего интерьера
						p.top-block__text
							a.top-block__link(href="#") Заявка на расчет
					
		section.m-sec#first-sec
			.door-container
				.m-sec__content.m-sec__content__left
					h3.m-sec__header Двери шпон
					p.m-sec__text Посмотрите, как студенты Высшей школы искусств округа Лос-Анджелес используют мощные возможности iPad, чтобы писать сценарии.
					a.butt.butt__std(href="#") Смотреть модели
					p.m-sec__subtext 73 вида дверей
				.m-sec__picture.m-sec__picture__right
					img.m-sec__img(src="img/main/s1.png")
	
		section.s-divider
			.door-container
				.s-divider__content
					h3.s-divider__header Эксклюзивные двери по уникальной технологии
					p.s-divider__text Завод европейского образца, высокоточное оборудование, качественные материалы.
		
		section.m-sec
			.door-container
				.m-sec__content.m-sec__content__right
					h3.m-sec__header Двери шпон
					p.m-sec__text Посмотрите, как студенты Высшей школы искусств округа Лос-Анджелес используют мощные возможности iPad, чтобы писать сценарии.
					a.butt.butt__std(href="#") Смотреть модели
					p.m-sec__subtext 73 вида дверей
				.m-sec__picture.m-sec__picture__left
					img.m-sec__img(src="img/main/s2.png")
		
		section.s-divider
			.door-container
				.s-divider__content
					h3.s-divider__header Эксклюзивные двери по уникальной технологии
					p.s-divider__text Завод европейского образца, высокоточное оборудование, качественные материалы.
		
		section.m-sec
			.door-container
				.m-sec__content.m-sec__content__left
					h3.m-sec__header Двери шпон
					p.m-sec__text Посмотрите, как студенты Высшей школы искусств округа Лос-Анджелес используют мощные возможности iPad, чтобы писать сценарии.
					a.butt.butt__std(href="#") Смотреть модели
					p.m-sec__subtext 73 вида дверей
				.m-sec__picture.m-sec__picture__right
					img.m-sec__img(src="img/main/s3.png")

		section.s-divider
			.door-container
				.s-divider__content
					h3.s-divider__header Эксклюзивные двери по уникальной технологии
					p.s-divider__text Завод европейского образца, высокоточное оборудование, качественные материалы.
				
		section.m-sec
			.door-container
				.m-sec__content.m-sec__content__right
					h3.m-sec__header Двери шпон
					p.m-sec__text Посмотрите, как студенты Высшей школы искусств округа Лос-Анджелес используют мощные возможности iPad, чтобы писать сценарии.
					a.butt.butt__std(href="#") Смотреть модели
					p.m-sec__subtext 73 вида дверей
				.m-sec__picture.m-sec__picture__left
					img.m-sec__img(src="img/main/s4.png")
						
		include _feedback.jade

		include _footer.jade
										
		include _bottom.jade
