doctype html
html(lang="ru")
	include _head.jade
	body.page
		
		include _header.jade
		
		.door-wrapper
			section.page-breadcrumbs
				.door-container
					a(href="http://art-doors.ru/") Главная&nbsp;
					span /&nbsp;
					span Портфолио
			section.page-header
				.door-container
					h2.page-header__text Наши работы

			.page-body
				section.portfolio
					.door-container
						ul.portfolio__list
							- for (var i=0; i<7; i++)
								li.portfolio__item
									a.portfolio__link(href="portfolio-single.html")
										.portfolio__thumb
											img(src="img/portfolio/big.png")
											.portfolio__overlay
												.portfolio__btn Смотреть
										.portfolio__text
											.portfolio__item-title Двери межкомнатные элитные в светлых тонах
											.portfolio__exerpt Проект разрабатывался нашими конструкторами и дизайнерами...
								li.portfolio__item
									a.portfolio__link(href="portfolio-single.html")
										.portfolio__thumb
											img(src="img/portfolio/small.jpg")
											.portfolio__overlay
												.portfolio__btn Смотреть
										.portfolio__text
											.portfolio__item-title Дубовые двери
											.portfolio__exerpt Проект разрабатывался нашими конструкторами и дизайнерами...
								li.portfolio__item(href="portfolio-single.html")
									a.portfolio__link(href="portfolio-single.html")
										.portfolio__thumb
											img(src="img/portfolio/medium.jpg")
											.portfolio__overlay
												.portfolio__btn Смотреть
										.portfolio__text
											.portfolio__item-title Двери из  дубовых пород
											.portfolio__exerpt Проект разрабатывался нашими конструкторами и дизайнерами...
					
		include _feedback.jade
					
		include _footer.jade
										
		include _bottom.jade
