doctype html
html(lang="ru")
	include _head.jade
	body.page
		
		include _header.jade
		
		.door-wrapper
			section.page-breadcrumbs
				.door-container
					a(href="http://art-doors.ru/") Главная&nbsp;
					span /&nbsp;
					span Портфолио
			section.page-header
				.door-container
					h2.page-header__text Двери из дуба в классическом интерьере

			.page-body
				section.portfolio-post
					.door-container
						.portfolio-post__body
							p(style='text-align: justify;')
								| Проект разрабатывался нашими конструкторами и дизайнерами, также были подключены специалисты в области монтажа бильярдного стола. Для соответствия в интерьере и достижения поставленных целей мы использовали двери из дуба, выполненные под сталинскую эпоху. В основе дверей лежит массив дуба, затемненный морилкой в цвет ореха. Дуб достаточно тяжелый материал, поэтому чтобы не допустить провисания створки мы использовали 4 навесные петли. Вся фурнитура данного изделия выполнялась под заказ нашими европейскими партнерами. Долговечность и безотказность механизмов гарантирована на десятки лет.
							p(style='text-align: justify;')
								a(href='http://art-doors.ru/wp-content/uploads/4.jpg')
									img.aligncenter.size-full.wp-image-405(src='http://art-doors.ru/wp-content/uploads/4.jpg', alt='4', width='960', height='640')
							h2(style='text-align: center;') Двери из дуба в интерьере нашего проекта
							p(style='text-align: justify;')
								| На фото с объекта мы можем увидеть, как гармонично вписались двери из дуба в общий интерьер ванной комнаты и бильярдной.
							p(style='text-align: justify;')
								| Масштабы, отведенные под ванную комнату, позволили разместить шикарную, массивную мебель, выполненную в сдержанном классическом стиле из натурального дерева. Тумба под умывальник в ванной комнате и элегантное габаритное зеркало из массива, отлично гармонируют на фоне окружающих стен персикового оттенка.
							p(style='text-align: justify;')
								a(href='http://art-doors.ru/wp-content/uploads/6.jpg')
									img.aligncenter.size-full.wp-image-407(src='http://art-doors.ru/wp-content/uploads/6.jpg', alt='6', width='960', height='1440')
							p(style='text-align: justify;')
								| Двери из дуба для ванной комнаты являются одним из важнейших архитектурных элементов в создании абсолютного классического дизайна. Глубокие дверные откосы выполнены деревянными панелями в соответствии с цветом и стилем полотна. Главной изюминкой ванной комнаты стала фурнитура с золотистым окрасом, ведь именно она наполняет интерьер богатством и роскошью.
							p(style='text-align: justify;')
								| В интерьере бильярдной нет ничего лишнего. Здесь подобраны отличные теплые оттенки, они добавляют визуальное пространство и сдержанность интерьера в целом. Двери из дуба отлично сочетаются на фоне декоративной плитки песочного оттенка. Естественно, как и в каждой бильярдной, главным украшением этой комнаты является потрясающий бильярдный стол. Он расположен по центру комнаты, придавая ей всю сущность предназначения отведенного помещения.
							p(style='text-align: justify;')
								a(href='http://art-doors.ru/wp-content/uploads/5.jpg')
									img.aligncenter.size-full.wp-image-406(src='http://art-doors.ru/wp-content/uploads/5.jpg', alt='5', width='960', height='1440')
							p(style='text-align: justify;')
								| Нельзя не отметить стильную и в то же время элегантную лестницу. Ступени выполнены из массива дуба. Идеальное сочетание белого основания и шоколадных ступеней.
							p(style='text-align: justify;')
								a(href='http://art-doors.ru/wp-content/uploads/2.jpg')
									img.aligncenter.size-full.wp-image-403(src='http://art-doors.ru/wp-content/uploads/2.jpg', alt='2', width='960', height='640')
							p(style='text-align: justify;')
								| В целом преобладающим стилем является классический. С нашей стороны была проявлена полная поддержка дизайнерской задумки и пожеланий хозяина квартиры на реализацию двери из дуба. В результате совместной работы мы полностью достигли желаемого результата.

		include _portfolio-slider.jade
		
		include _feedback.jade	
					
		include _footer.jade
										
		include _bottom.jade
