doctype html
html(lang="ru")
	include _head.jade
	body.page
		
		include _header.jade
		
		.door-wrapper
			section.page-breadcrumbs
				.door-container
					a(href="http://art-doors.ru/") Главная&nbsp;
					span /&nbsp;
					span Продукция
			section.page-header
				.door-container
					h2.page-header__text Каталог
			
			.page-body
				.products
					.door-container
						ul.products__list
							li.products__item.m-sec
								.m-sec__picture.m-sec__picture__left
									img.m-sec__img(src="img/shpon.png")
								.m-sec__content.m-sec__content
									h3.m-sec__header Двери шпон
									p.m-sec__text Посмотрите, как студенты Высшей школы искусств округа Лос-Анджелес используют мощные возможности iPad, чтобы писать сценарии.
									a.butt.butt__std(href="doors-category.html") Смотреть модели
									p.m-sec__subtext 73 вида дверей
							li.products__item.m-sec
								.m-sec__picture.m-sec__picture__left
									img.m-sec__img(src="img/emal.png")
								.m-sec__content.m-sec__content
									h3.m-sec__header Двери эмаль
									p.m-sec__text Посмотрите, как студенты Высшей школы искусств округа Лос-Анджелес используют мощные возможности iPad, чтобы писать сценарии.
									a.butt.butt__std(href="doors-category.html") Смотреть модели
									p.m-sec__subtext 73 вида дверей
							li.products__item.m-sec
								.m-sec__picture.m-sec__picture__left
									img.m-sec__img(src="img/glass.png")
								.m-sec__content.m-sec__content
									h3.m-sec__header Двери со стеклом
									p.m-sec__text Посмотрите, как студенты Высшей школы искусств округа Лос-Анджелес используют мощные возможности iPad, чтобы писать сценарии.
									a.butt.butt__std(href="doors-category.html") Смотреть модели
									p.m-sec__subtext 73 вида дверей
							li.products__item.m-sec
								.m-sec__picture.m-sec__picture__left
									img.m-sec__img(src="img/garmony.png")
								.m-sec__content.m-sec__content__
									h3.m-sec__header Двери гармошка
									p.m-sec__text Посмотрите, как студенты Высшей школы искусств округа Лос-Анджелес используют мощные возможности iPad, чтобы писать сценарии.
									a.butt.butt__std(href="doors-category.html") Смотреть модели
									p.m-sec__subtext 73 вида дверей
															
		include _feedback.jade			
				
		include _footer.jade
		
		include _bottom.jade
