doctype html
html(lang="ru")
	include _head.jade
	body.page
		
		include _header.jade
		
		.door-wrapper
			section.page-breadcrumbs
				.door-container
					a(href="http://art-doors.ru/") Главная&nbsp;
					span /&nbsp;
					span Карта сайта
			section.page-header
				.door-container
					h2.page-header__text Карта сайта
					
			
			.page-body
				.door-container
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
					p	Здесь будет карта сайта
				
										
				
		include _footer.jade
		
		include _bottom.jade
